<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>

<script th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery.cookie/1.4.1/jquery.cookie.js}"></script>

<script type="text/javascript">
/* var path = request.getContextPath(); */
/* var basePath =  */
	/*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

	$(document).ready(
	 	function(){
		 $("#read").click(function(){
				alert($.cookie($("#cookiename").val()));
			});
	});
	
    
</script>

</head>
<body>
hello world<br/>
<p th:text="${message}"></p>
<p th:text="${contextPath}"></p>
<a th:href="@{/}+home">相对路径</a>
<a th:href='${#httpServletRequest.getScheme()+ "://" + #httpServletRequest.getServerName()+ ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()+"/home"}'>相对路径</a>
<base th:href='${#httpServletRequest.getScheme()+ "://" + #httpServletRequest.getServerName()+ ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()+"/"}' />
<a th:href="${basePath}">相对路径--过滤器中设置了basePath</a>
<p th:text="${basePath}"></p>
<div>
	<a th:href="@{/}+logout">退出</a>
</div>
<p><label th:text="#{welcome}"></label></p>
<p><label th:text="#{用户增加}"></label></p>
<div>cookiename:<input id = "cookiename" type="text"></input><input id="read" type="button" value="读取"></input></div>
</body>
</html>